/* 
    Created on : Nov 23, 2019, 2:56:46 PM
    Author     : rory
*/

html {
	color: #333;
}

h1 {
	text-align: center;
}

label {
	margin-top: 0.3em;
}

.assetList {
	border: thin #BBB solid;
	margin: 0.2em 0;
}

.assetList:hover {
	background-color: #DDD;
	color: #000;
	cursor: pointer;
}