/* 
    Created on : Nov 23, 2019, 2:56:46 PM
    Author     : rory
*/

html {
	color: #333;
}

h1 {
	text-align: center;
}

label {
	margin-top: 0.3em;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #DDD;
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #DDD;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #DDD;
}

.assetList {
	border: thin #BBB solid;
	margin: 0.3em 0;
}

.assetList:hover {
	background-color: #DDD;
	color: #000;
	cursor: pointer;
}

.borderless {
	border: 0;
}